body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.toolbar {
    position: absolute;
    top: 10px;
    left: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
}

.icon {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: grab;
}

.delete-icon {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
}

.separator {
    width: 1px;
    height: 50px;
    background-color: #ccc;
    margin: 0 10px;
}

.raster-container {
    width: calc(100% - 100px); /* 50px gap from left and right */
    height: calc(100% - 200px); /* 150px gap from top and 50px gap from bottom */
    border: 2px dashed #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #f0f0f0;
}

canvas {
    border: 1px solid #000;
}

.context-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.context-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.context-menu li {
    padding: 8px 12px;
    cursor: pointer;
}

.context-menu li:hover {
    background-color: #f0f0f0;
}